{% extends "layout.html" %}

{% block heading %}
Log In
{% endblock %}


{% block body %}

<h1>Log in as existing user</h1>

<form action="{{ url_for('login') }}" method="post">
    <div>
        <input type="text" name="username" placeholder="username">
    </div>
    <div>
        <input type="password" name="password" placeholder="password">
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>
{% if message %}
<div>{{ message }}</div>
{% endif %}
{% endblock %}